@inherits UserComponentBase

<MudDialog>
    <DialogContent>
        <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />
            <MudTextField Class="mb-5" @bind-Value="Model.Id" InputType="InputType.Hidden" For="@(() => Model.Id)" Variant="Variant.Outlined" />
            <MudGrid>
                <MudItem xs="12" md="6" lg="6">
                    <MudTextField Label="نام جنس" @bind-Value="Model.Name" For="@(() => Model.Name)" Variant="Variant.Outlined" Margin="Margin.Dense" />
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <MudNumericField Label="وزن" @bind-Value="Model.Weight" For="@(() => Model.Weight)" Variant="Variant.Outlined" Margin="Margin.Dense" />
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <InputSelect class="select-text-calc" @bind-Value="Model.WageType">
                        @foreach (WageType wageType in Enum.GetValues(typeof(WageType)))
                        {
                            <option class="p-4" value="@wageType">@wageType.ToDisplay()</option>
                        }
                    </InputSelect>
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <MudNumericField Label="اجرت" @bind-Value="Model.Wage" For="@(() => Model.Wage)" Variant="Variant.Outlined" Margin="Margin.Dense" Step="1" />
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <MudSelect T="ProductType" Label="نوع جنس" @bind-Value="Model.ProductType" For="() => Model.ProductType" Margin="Margin.Dense" Variant="Variant.Outlined">
                        @foreach (ProductType productType in Enum.GetValues(typeof(ProductType)))
                        {
                            <MudSelectItem T="ProductType" Value="productType">@productType.ToDisplay()</MudSelectItem>
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="12" md="6" lg="6">
                    <MudSelect T="Carat" Label="عیار" @bind-Value="Model.Carat" ToStringFunc="_caretConverter" For="() => Model.Carat" Variant="Variant.Outlined" Margin="Margin.Dense" >
                        @foreach (Carat caret in Enum.GetValues(typeof(Carat)))
                        {
                            <MudSelectItem T="Carat" Value="caret" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudStack Row Justify="Justify.FlexEnd" Class="mt-5">
                <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Error">لغو</MudButton>
                <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Disabled="@_processing">
                    @if (_processing)
                    {
                        <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                        <MudText Class="ms-2">در حال ذخیره</MudText>
                    }
                    else
                    {
                        <MudText>ذخیره</MudText>
                    }
                </MudButton>
            </MudStack>
        </EditForm>
    </DialogContent>
    <DialogActions>
        
    </DialogActions>
</MudDialog>
