@inherits UserComponentBase

<div class="mt-5 mb-5">
    @if (_selectedItems.Any())
    {
        <MudPaper Elevation="15">
            <MudToolBar>
                <MudButton EndIcon="@Icons.Material.Outlined.Print" Color="Color.Info" Variant="Variant.Filled">چاپ بارکد</MudButton>
                <MudSpacer />
                <MudButton EndIcon="@Icons.Material.Filled.DeleteForever" Color="Color.Error" Variant="Variant.Filled">حذف اجناس</MudButton>
            </MudToolBar>
        </MudPaper>
    }

    <MudTable MultiSelection="true" SelectOnRowClick="false" @bind-SelectedItems="_selectedItems" Elevation="15" ServerData="@(new Func<TableState, Task<TableData<ProductTableItemDto>>>(ServerReload))"
              Hover="true" @ref="_table" CanCancelEdit="true" RowEditCommit="async e => await CommitItemAsync(e)" Dense="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">لیست اجناس</MudText>
            <MudSpacer />
            <MudTextField T="string" ValueChanged="@(OnSearch)" Placeholder="جستجو" Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Style="max-width: 200px;" Class="mt-0"></MudTextField>
            <MudSpacer />


            <MudButton Color="Color.Primary" OnClick="@((e) => OpenAddProductDialog(_dialogOptions, "افزودن جنس"))"
                       EndIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled">افزودن</MudButton>

        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortLabel="BarcodeText" T="ProductTableItemDto">کد جنس</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="Name" T="ProductTableItemDto">نام جنس</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="Weight" T="ProductTableItemDto">وزن</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="Wage" T="ProductTableItemDto">اجرت ساخت</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="ProductType" T="ProductTableItemDto">نوع جنس</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="Caret" T="ProductTableItemDto">عیار</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="ProductTableItemDto">عملیات</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="بارکد جنس">@context.BarcodeText</MudTd>
            <MudTd DataLabel="نام جنس">@context.Name</MudTd>
            <MudTd DataLabel="وزن">@(context.Weight + " گرم")</MudTd>
                <MudTd DataLabel="اجرت">
                    @if (context.ProductType == ProductType.Gold)
                {
                    @(context.Wage + " درصد")
                }
                else
                {
                    @(context.Wage.ToString("C0").Replace("ریال", "") + " تومان")
                }
            </MudTd>
            <MudTd DataLabel="نوع جنس">@context.ProductType.ToDisplay()</MudTd>
            <MudTd DataLabel="عیار">@context.Caret.ToDisplay()</MudTd>
            <MudTd DataLabel="عملیات">
                <MudTooltip Text="چاپ بارکد">
                    <MudIconButton Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Print"
                                   Color="@Color.Primary"></MudIconButton>
                </MudTooltip>
                <MudTooltip Text="حذف جنس">
                    <MudIconButton OnClick="@((e) => OpenDeleteProductDialog(_dialogOptions, context.Id))" Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Delete"
                                   Color="@Color.Error"></MudIconButton>
                </MudTooltip>
            </MudTd>
        </RowTemplate>
        <RowEditingTemplate>
            <MudTd DataLabel="بارکد جنس">@context.BarcodeText</MudTd>
            <MudTd DataLabel="نام جنس">
                <MudTextField @bind-Value="@context.Name" Required />
            </MudTd>
            <MudTd DataLabel="وزن">
                <MudNumericField @bind-Value="@context.Weight" Required Min="0.01" />
            </MudTd>
            <MudTd DataLabel="اجرت">
                <MudNumericField @bind-Value="@context.Wage" Required Min="0" />
            </MudTd>
            <MudTd DataLabel="نوع جنس">
                <MudSelect T="ProductType" Label="نوع جنس" @bind-Value="context.ProductType" Variant="Variant.Text">
                    @foreach (ProductType productType in Enum.GetValues(typeof(ProductType)))
                    {
                        <MudSelectItem T="ProductType" Value="productType">@productType.ToDisplay()</MudSelectItem>
                    }
                </MudSelect>
            </MudTd>
            <MudTd DataLabel="عیار">
                <MudSelect T="Caret" Label="عیار" @bind-Value="context.Caret" Variant="Variant.Text">
                    @foreach (Caret caret in Enum.GetValues(typeof(Caret)))
                    {
                        <MudSelectItem T="Caret" Value="caret">@caret.ToDisplay()</MudSelectItem>
                    }
                </MudSelect>
            </MudTd>

        </RowEditingTemplate>
        <NoRecordsContent>
            <MudText>هیچ جنسی یافت نشد</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>در حال بارگذاری</MudText>
        </LoadingContent>
        <PagerContent>
            <div class="d-flex flex-column align-center">
                <MudPagination SelectedChanged="PageChanged" 
                               Color="Color.Primary"
                               Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)"
                               Class="pa-4"
                               ShowFirstButton="true"
                               ShowLastButton="true" />
            </div>
        </PagerContent>
        <EditButtonContent Context="button">
            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
        </EditButtonContent>
    </MudTable>
</div>


