@using JewelryApp.Client.ViewModels
@using JewelryApp.Client.ViewModels.Populated
@using JewelryApp.Shared.Enums
@inherits UserComponentBase

<style>
    .deleted {
        background-color: #fc032c !important;
    }

        .deleted > td {
            color: white !important;
        }

            .deleted > td .mud-input {
                color: white !important;
            }
</style>

<div class="mt-5 mb-5">
    @if (_selectedItems.Any())
    {
        <MudPaper Elevation="15">
            <MudToolBar>
                <MudButton EndIcon="@Icons.Material.Outlined.Print" Color="Color.Info" Variant="Variant.Filled">چاپ بارکد</MudButton>
                <MudSpacer />
                <MudButton EndIcon="@Icons.Material.Filled.DeleteForever" Color="Color.Error" Variant="Variant.Filled">حذف اجناس</MudButton>
            </MudToolBar>
        </MudPaper>
    }

    <MudTable MultiSelection="true" Bordered="true" RowClass="cursor-pointer" SelectOnRowClick="false" @bind-SelectedItems="_selectedItems" 
              Elevation="15" ServerData="@(new Func<TableState, Task<TableData<ProductListVm>>>(ServerReload))"
              Hover="true" @ref="_table" Dense="true" EditTrigger="TableEditTrigger.EditButton">
        <ToolBarContent>
            <MudText Typo="Typo.h6">لیست اجناس</MudText>
            <MudSpacer />
            <MudTextField T="string" ValueChanged="@(OnSearch)" Placeholder="جستجو" Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Style="max-width: 200px;" Class="mt-0"></MudTextField>
            <MudSpacer />

            <MudButton Color="Color.Primary" OnClick="@((e) => OpenAddProductDialog(_dialogOptions, "افزودن جنس"))"
                       EndIcon="@Icons.Material.Filled.Add" Variant="Variant.Filled">افزودن</MudButton>

        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortLabel="Barcode" T="string">کد جنس</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="Name" T="string">نام جنس</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="Category" T="string">دسته بندي</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="Weight" T="string">وزن</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="Wage" T="string">اجرت ساخت</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="ProductType" T="string">نوع جنس</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="Carat" T="string">عیار</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortLabel="" T="string">عملیات</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="بارکد جنس">@context.Barcode</MudTd>
                <MudTd DataLabel="نام جنس">@context.Name</MudTd>
                <MudTd DataLabel="دسته بندي">@context.CategoryName</MudTd>
                <MudTd DataLabel="وزن">@(context.Weight + " گرم")</MudTd>
                <MudTd DataLabel="اجرت">
                    @(context.Wage) @context.WageType.GetDisplayName()
            </MudTd>
            <MudTd DataLabel="نوع جنس">@context.ProductType.GetDisplayName()</MudTd>
                <MudTd DataLabel="عیار">@context.CaratType.GetDisplayName()</MudTd>
                <MudTd DataLabel="عملیات">
                    <MudTooltip Text="چاپ بارکد">
                        <MudIconButton Size="@Size.Small" Class="mr-2" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Print"
                                       Color="@Color.Primary"></MudIconButton>
                    </MudTooltip>
                    @if (!context.Deleted)
                    {
                        <MudTooltip Text="حذف جنس">
                            <MudIconButton OnClick="@(_ => RemoveRow(context))"
                                           Size="@Size.Small" Variant="@Variant.Filled" Icon="@Icons.Material.Filled.Delete" Color="@Color.Error"></MudIconButton>
                        </MudTooltip>
                        <MudTooltip Text="ویرایش جنس">
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                           Color="Color.Primary" OnClick="_ => EditRow(context)"></MudIconButton>
                        </MudTooltip>
                    }
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>هیچ جنسی یافت نشد</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>در حال بارگذاری</MudText>
        </LoadingContent>
        <PagerContent>
            <div class="d-flex flex-column align-center">
                <MudPagination SelectedChanged="PageChanged"
                               Color="Color.Primary"
                               Count="@((_table.GetFilteredItemsCount() + _table.RowsPerPage - 1) / _table.RowsPerPage)"
                               Class="pa-4"
                               ShowFirstButton="true"
                               ShowLastButton="true" />
            </div>
        </PagerContent>
        <EditButtonContent Context="button">
            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
        </EditButtonContent>
    </MudTable>
</div>


