@inherits UserComponentBase

<MudIconButton OnClick="@ToggleOpen" Icon="@Icons.Material.Outlined.Calculate" Color="Color.Inherit"></MudIconButton>

<MudPopover Open="@_isOpen" Fixed="false" TransformOrigin="Origin.TopLeft" AnchorOrigin="Origin.BottomLeft" Class="px-4 pt-4">
    <div class="d-flex flex-column">
        <MudStack Row Class="p-2 ml-2">
            <MudText Class="mb-2">محاسبه قیمت تمام شده ی طلا و جواهر</MudText>
            <MudSpacer />
            <div style="max-width: 150px">
                <MudTextField AdornmentIcon="@Icons.Material.Filled.QrCode"
                              Adornment="Adornment.End" Variant="Variant.Outlined" Margin="Margin.Dense"
                              Value="BarcodeText" ValueChanged="BarcodeChanged" T="string"
                              Label="بارکد"></MudTextField>
            </div>
        </MudStack>

        <MudDivider />
        <MudPaper Class="p-2 m-2">
            s
            <MudGrid>
                <MudItem xs="6" sm="6" lg="6">
                    <MudTextField @bind-Value="_productDto.GramPrice" AdornmentIcon="@Icons.Material.Filled.AttachMoney"
                                  Adornment="Adornment.Start" Margin="Margin.Dense" Variant="Variant.Outlined"
                                  HelperText="نرخ روز گرم">
                    </MudTextField>
                </MudItem>
                <MudItem xs="6" sm="6" lg="6">
                    <MudTextField @bind-Value="_productDto.Weight" AdornmentIcon="@Icons.Material.Filled.ProductionQuantityLimits"
                                  Adornment="Adornment.Start" Margin="Margin.Dense" Variant="Variant.Outlined"
                                  HelperText="وزن">
                    </MudTextField>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem xs="6" sm="6" lg="6">
                    <MudTextField @bind-Value="_productDto.Wage" AdornmentIcon="@Icons.Material.Filled.CurrencyExchange"
                                  Adornment="Adornment.Start" Margin="Margin.Dense" Variant="Variant.Outlined"
                                  HelperText="اجرت">
                    </MudTextField>
                </MudItem>
                <MudItem xs="6" sm="6" lg="6">
                    <MudTextField @bind-Value="_productDto.TaxOffset" AdornmentIcon="@Icons.Material.Outlined.FactCheck"
                                  Adornment="Adornment.Start" Margin="Margin.Dense" Variant="Variant.Outlined"
                                  HelperText="ضریب مالیات">
                    </MudTextField>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="6" sm="6" lg="6">
                    <MudTextField @bind-Value="_productDto.Profit" AdornmentIcon="@Icons.Material.Outlined.Money"
                                  Adornment="Adornment.Start" Margin="Margin.Dense" Variant="Variant.Outlined"
                                  HelperText="سود">
                    </MudTextField>
                </MudItem>
                <MudItem xs="6" sm="6" lg="6">
                    <InputSelect class="select-text-calc" @bind-Value="_productDto.ProductType">
                        @foreach (ProductType productType in Enum.GetValues(typeof(ProductType)))
                        {
                            <option class="p-4" value="@productType">@productType.ToDisplay()</option>
                        }
                    </InputSelect>
                </MudItem>
            </MudGrid>

            <MudDivider />
            <MudGrid>
                <MudItem class="mt-5" xs="6" sm="6" lg="6">
                    <MudStack>
                        <MudText Typo="Typo.body1">قیمت کل:</MudText>
                        <MudText Typo="Typo.body1">مالیات:</MudText>
                        <MudText Typo="Typo.body1">قیمت نهایی با احتساب مالیات:</MudText>
                    </MudStack>
                </MudItem>
                <MudItem class="mt-5" xs="6" sm="6" lg="6">
                    <MudStack>
                        <MudText Typo="Typo.body1">@((_productDto.FinalPrice - _productDto.Tax).ToString("C0").Replace("ریال", "")) تومان</MudText>
                        <MudText Typo="Typo.body1">@_productDto.Tax.ToString("C0").Replace("ریال", "") تومان</MudText>
                        <MudText Typo="Typo.body1">@_productDto.FinalPrice.ToString("C0").Replace("ریال", "") تومان</MudText>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudPaper>

        <MudButton OnClick="@ToggleOpen" Class="ml-auto mr-n3 mb-1" Color="Color.Error">بستن</MudButton>
    </div>
</MudPopover>