@page "/invoices/add"
@using JewelryApp.Shared.Enums
@using JewelryApp.Client.Extensions

@inherits UserComponentBase

<MudCard>
    <MudCardHeader Class="d-flex flex-row" Style="padding: 0 !important;">
        <MudIconButton Icon="@Icons.Material.Outlined.ArrowCircleRight" OnClick="@(GoBack)"></MudIconButton>
        <MudText Typo="Typo.h5">ثبت فاکتور</MudText>
        <MudSpacer />
        <div class="small-width mt-5 ml-5">
            <MudDatePicker Margin="Margin.Dense" Color="Color.Secondary" Rounded="true" HelperText="تاریخ ثبت فاکتور"
                           Label="تاریخ فاکتور" HelperTextOnFocus="true" @bind-Date="_invoiceModel.BuyDateTime"
                           Editable="true" DisableToolbar="true"
                           For="@(() => _invoiceModel.BuyDateTime)" Variant="Variant.Outlined" />
        </div>
        <div class="small-width mt-5 ml-5">
            <MudTextField Margin="Margin.Dense" Variant="Variant.Outlined" Label="شماره فاکتور"
                          HelperText="شماره فاکتور" HelperTextOnFocus="true" InputMode="InputMode.numeric"
                          @bind-Value="_invoiceModel.InvoiceNumber" For="@(() => _invoiceModel.InvoiceNumber)" />
        </div>
    </MudCardHeader>
    <MudDivider />
    <MudCardContent>
        <MudPaper Class="mr-1 ml-1 mb-1 pl-4 pr-4 pb-4" Elevation="5">
            <div class="d-flex flex-column align-items-start">
                <MudText Typo="Typo.h6" Class="mb-3 mt-2">مشخصات فردی مشتری</MudText>
            </div>
            <MudGrid>
                <MudItem lg="6" md="6" sm="12" xs="12">
                    <MudTextField Margin="Margin.Dense" Variant="Variant.Outlined" Label="نام" HelperText="نام و نام خانوادگی مشتری"
                                  HelperTextOnFocus="true" Clearable AutoFocus="true"
                                   @bind-Value="_customerModel.Name" For="@(() => _customerModel.Name)" />
                 </MudItem>
                 <MudItem lg="6" md="6" sm="12" xs="12">
                     <MudTextField Margin="Margin.Dense" Variant="Variant.Outlined" Label="شماره همراه" Mask="@PhoneNumberMask"
                                   HelperText="شماره همراه مشتری" HelperTextOnFocus="true"
                                   @bind-Value="_customerModel.PhoneNumber" For="@(() => _customerModel.PhoneNumber)" />
                 </MudItem>
             </MudGrid>
         </MudPaper>
        <MudPaper Class="mr-1 ml-1 mb-1 mt-2 pl-4 pr-4 pb-4" Elevation="5">
            <MudStack Row AlignItems="AlignItems.Center" Class="mt-2">
                <MudText Typo="Typo.h6">لیست اجناس</MudText>
                <MudSpacer />
                <MudPaper Width="120px" Elevation="0">
                    <MudTextField AdornmentIcon="@Icons.Material.Filled.QrCode" Margin="Margin.Dense"
                                  Adornment="Adornment.End" Variant="Variant.Outlined"
                                  Value="_barcodeText" ValueChanged="BarcodeTextChanged" T="string"
                                  Label="بارکد"></MudTextField>
                </MudPaper>
                <MudPaper Width="40px" Elevation="0">
                    <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Small" Variant="Variant.Filled" Color="Color.Info"
                                   OnClick="@(_ => AddInvoiceItem(null))"></MudIconButton>
                </MudPaper>
            </MudStack>
            <MudTable Items="@_items" Hover="true" Breakpoint="Breakpoint.Sm" Bordered="true" Dense="true" Class="mt-3">
                <HeaderContent>
                    <MudTh>دسته بندی</MudTh>
                    <MudTh>نام</MudTh>
                    <MudTh>نوع</MudTh>
                    <MudTh>وزن</MudTh>
                    <MudTh>اجرت</MudTh>
                    <MudTh>سود</MudTh>
                    <MudTh>عیار</MudTh>
                    <MudTh>ضریب مالیات</MudTh>
                    <MudTh>نرخ گرم</MudTh>
                    <MudTh>قیمت نهایی</MudTh>
                    <MudTh>عملیات</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="دسته بندی">@context.CategoryName</MudTd>
                    <MudTd DataLabel="نام کالا">@context.Name</MudTd>
                    <MudTd DataLabel="نوع کالا">@context.ProductType.GetDisplayName()</MudTd>
                    <MudTd DataLabel="وزن">@context.Weight گرم</MudTd>
                    <MudTd DataLabel="اجرت">@context.Wage @context.WageType.GetDisplayName()</MudTd>
                    <MudTd DataLabel="سود">@context.Profit درصد</MudTd>
                    <MudTd DataLabel="عیار">@context.CaratType.GetDisplayName()</MudTd>
                    <MudTd DataLabel="ضریب مالیات">@context.TaxOffset درصد</MudTd>
                    <MudTd DataLabel="نرخ گرم روز">@context.GramPrice.ToCurrency()</MudTd>
                    <MudTd DataLabel="قیمت نهایی">@context.FinalPrice.ToCurrency()</MudTd>
                    <MudTd DataLabel="عملیات">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Variant="Variant.Filled" 
                                       Color="Color.Error" OnClick="_ => RemoveRow(context)"></MudIconButton>
                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                       Color="Color.Primary" OnClick="_ => EditRow(context)"></MudIconButton>
                    </MudTd>
                </RowTemplate>
                <NoRecordsContent>
                    <MudText>هیچ جنسی به فاکتور افزوده نشده است</MudText>
                </NoRecordsContent>
            </MudTable>
        </MudPaper>
        @if (_items.Any())
        {
            <MudPaper Class="mr-1 ml-1 mb-1 mt-2 pl-4 pr-4 pb-4" Elevation="5">
                <MudGrid>
                    <MudItem lg="3" xs="12">
                        <MudText Typo="Typo.body2">قیمت کل: @_items.Sum(x => x.Price).ToCurrency()</MudText>
                    </MudItem>
                    <MudItem lg="3" xs="12">
                        <MudText Typo="Typo.body2">مالیات: @_items.Sum(x => x.Tax).ToCurrency()</MudText>
                    </MudItem>
                    <MudItem lg="3" xs="12">
                            <MudText Typo="Typo.body2">مبلغ قابل پرداخت: @((_items.Sum(x => x.FinalPrice) + _invoiceModel.AdditionalPrices + _invoiceModel.Debt - _invoiceModel.Discount).ToCurrency()) </MudText>
                    </MudItem>
                    <MudItem lg="3" xs="12">
                        <MudText Class="cursor-pointer" Typo="Typo.body2" @onclick="ToggleDiscount">
                                تخفیف: @_invoiceModel.Discount.ToCurrency()
                        </MudText>
                        <MudPopover Open="@_isDiscountOpen" Fixed="true" Class="px-4 pt-4">
                            <div class="d-flex flex-column">
                                <MudTextField AdornmentIcon="@Icons.Material.Filled.Discount" Margin="Margin.Dense" Class="small-width"
                                              Adornment="Adornment.End" Variant="Variant.Outlined"
                                              HelperText="تخفیف" HelperTextOnFocus="true"
                                              Immediate="true"
                                              @bind-Value="_invoiceModel.Discount" For="() => _invoiceModel.Discount"
                                              Label="تخفیف"></MudTextField>
                                <MudButton OnClick="@ToggleDiscount" Class="ml-auto mr-n3 mb-1" Color="Color.Success">اعمال</MudButton>
                            </div>
                        </MudPopover>
                    </MudItem>
                    <MudItem lg="3" xs="12">
                        <MudText Class="cursor-pointer" Typo="Typo.body2" @onclick="ToggleDebt">
                            بدهی: @(_invoiceModel.Debt.ToCurrency())
                        </MudText>
                        <MudPopover Open="@_isDebtOpen" Fixed="true" Class="px-4 pt-4">
                            <div class="d-flex flex-column">
                                <MudTextField AdornmentIcon="@Icons.Material.Filled.Money" Margin="Margin.Dense" Class="small-width"
                                              Adornment="Adornment.End" Variant="Variant.Outlined"
                                              HelperText="مبلغ بدهی" HelperTextOnFocus="true"
                                              Immediate="true"
                                              @bind-Value="_invoiceModel.Debt" For="() => _invoiceModel.Debt"
                                              Label="مبلغ بدهی"></MudTextField>
                                <MudDatePicker Margin="Margin.Dense" Color="Color.Secondary" Rounded="true" HelperText="موعد بدهی"
                                               Label="موعد بدهی" HelperTextOnFocus="true" @bind-Date="_invoiceModel.DebtDate"
                                               Editable="true" DisableToolbar="true"
                                               For="@(() => _invoiceModel.DebtDate)" Variant="Variant.Outlined" />
                                <MudButton OnClick="@ToggleDebt" Class="ml-auto mr-n3 mb-1" Color="Color.Success">اعمال</MudButton>
                            </div>
                        </MudPopover>
                    </MudItem>
                    <MudItem lg="3" xs="12">
                        <MudText Class="cursor-pointer" Typo="Typo.body2" @onclick="ToggleAdditionalPrices">
                            هزینه های اضافی: @(_invoiceModel.AdditionalPrices.ToCurrency())
                        </MudText>
                        <MudPopover Open="@_isAdditionalPricesOpen" Fixed="true" Class="px-4 pt-4">
                            <div class="d-flex flex-column">
                                <MudTextField AdornmentIcon="@Icons.Material.Filled.Money" Margin="Margin.Dense" Class="small-width"
                                              Adornment="Adornment.End" Variant="Variant.Outlined"
                                              HelperText="هزینه های اضافی" HelperTextOnFocus="true"
                                              Immediate="true"
                                              @bind-Value="_invoiceModel.AdditionalPrices" For="() => _invoiceModel.AdditionalPrices"
                                              Label="هزینه های اضافی"></MudTextField>
                                <MudButton OnClick="@ToggleAdditionalPrices" Class="ml-auto mr-n3 mb-1" Color="Color.Success">اعمال</MudButton>
                            </div>
                        </MudPopover>
                    </MudItem>
                    <MudItem lg="3" xs="12">
                        <MudText Class="cursor-pointer" Typo="Typo.body2" @onclick="ToggleOldGold">
                            طلای کهنه خریداری شده: @(_oldGoldItems.Sum(x => x.Price).ToCurrency())
                        </MudText>
                        <MudPopover Open="@_isOldGoldOpen" Fixed="true" Class="px-4 pt-4" OverflowBehavior="OverflowBehavior.FlipAlways" TransformOrigin="Origin.BottomCenter" AnchorOrigin="Origin.TopLeft">
                            <div class="d-flex flex-column">
                                <MudStack Row AlignItems="AlignItems.Center" Class="mt-2">
                                    <MudText Typo="Typo.h6">لیست طلاهای کهنه</MudText>
                                    <MudSpacer />
                                    <MudPaper Width="40px" Elevation="0">
                                        <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Small" Variant="Variant.Filled" Color="Color.Info"
                                                       OnClick="@(_ => AddOldGold())"></MudIconButton>
                                    </MudPaper>
                                </MudStack>
                                <MudTable Items="_oldGoldItems" Dense="true">
                                    <HeaderContent>
                                        <MudTh>نام</MudTh>
                                        <MudTh>وزن</MudTh>
                                        <MudTh>نرخ گرم</MudTh>
                                        <MudTh>قیمت نهایی</MudTh>
                                        <MudTh>عملیات</MudTh>
                                    </HeaderContent>
                                    <RowTemplate>
                                        <MudTd DataLabel="نام">@context.Name</MudTd>
                                        <MudTd DataLabel="وزن">@context.Weight گرم</MudTd>
                                        <MudTd DataLabel="نرخ گرم">@context.GramPrice.ToCurrency()</MudTd>
                                        <MudTd DataLabel="قیمت نهایی">@context.Price.ToCurrency()</MudTd>
                                        <MudTd DataLabel="عملیات">
                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Size="Size.Small" Variant="Variant.Filled"
                                                           Color="Color.Error" OnClick="_ => RemoveOldGoldRow(context)"></MudIconButton>
                                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" Variant="Variant.Filled"
                                                           Color="Color.Primary" OnClick="_ => EditOldGoldRow(context)"></MudIconButton>
                                        </MudTd>
                                    </RowTemplate>
                                </MudTable>
                                <MudButton OnClick="@ToggleOldGold" Class="ml-auto mr-n3 mb-1" Color="Color.Success">اعمال</MudButton>
                            </div>
                        </MudPopover>
                    </MudItem>
                </MudGrid>
            </MudPaper>
        }
     </MudCardContent>
 </MudCard>