@page "/invoices/add"
@page "/invoices/edit/{id:int}"

@inherits UserComponentBase

<MudCard>
    <MudCardHeader Class="d-flex flex-column">
        <MudText Typo="Typo.h5">@(Id is null ? "ثبت فاکتور جدید" : "ویرایش فاکتور")</MudText>
        </MudCardHeader>
        <MudDivider />
        <MudCardContent>
            <MudPaper Class="m-1 p-4" Elevation="5">
                <div class="d-flex flex-column align-items-center">
                    <MudText Typo="Typo.h6" Class="mb-3">مشخصات فردی مشتری</MudText>
                </div>

                <MudGrid>
                    <MudItem lg="6" md="6" sm="12" xs="12">
                        <MudTextField Margin="Margin.Dense" Variant="Variant.Outlined" Label="نام" HelperText="نام خریدار"
                                      HelperTextOnFocus="true" Clearable
                    @bind-Value="InvoiceModel.BuyerFirstName" For="@(() => InvoiceModel.BuyerFirstName)" />
                    </MudItem>
                    <MudItem lg="6" md="6" sm="12" xs="12">
                    <MudTextField Margin="Margin.Dense" Variant="Variant.Outlined" Label="نام خانوادگی" HelperText="نام خانوادگی خریدار"
                                  HelperTextOnFocus="true" Clearable
                    @bind-Value="InvoiceModel.BuyerLastName" For="@(() => InvoiceModel.BuyerLastName)" />
                    </MudItem>
                    <MudItem lg="4" md="4" sm="12" xs="12">
                    <MudTextField Margin="Margin.Dense" Variant="Variant.Outlined" Mask="@NationalCodeMask" Label="کد ملی"
                                  HelperText="کد ملی خریدار" HelperTextOnFocus="true" Clearable
                    @bind-Value="InvoiceModel.BuyerNationalCode" For="@(() => InvoiceModel.BuyerNationalCode)" />
                    </MudItem>
                    <MudItem lg="4" md="4" sm="12" xs="12">
                    <MudTextField Margin="Margin.Dense" Variant="Variant.Outlined" Label="شماره همراه" Mask="@PhoneNumberMask"
                                  HelperText="شماره همراه خریدار" HelperTextOnFocus="true" Clearable
                    @bind-Value="InvoiceModel.BuyerPhoneNumber" For="@(() => InvoiceModel.BuyerPhoneNumber)" />
                    </MudItem>
                    <MudItem lg="4" md="4" sm="12" xs="12">
                    <MudDatePicker Margin="Margin.Dense" Color="Color.Secondary" Rounded="true" HelperText="تاریخ ثبت فاکتور"
                                   Label="تاریخ فاکتور" HelperTextOnFocus="true" @bind-Date="InvoiceModel.BuyDateTime" For="@(() => InvoiceModel.BuyDateTime)" Variant="Variant.Outlined" />
                    </MudItem>
                    </MudGrid>
                    </MudPaper>
                    <MudPaper Class="m-1 p-3" Elevation="5">

                    <div class="d-flex flex-grow-1 gap-4">
                        <div class="flex-grow-1" style="width: 64px">
                            <MudText Typo="Typo.h6" Class="mb-3">لیست اجناس</MudText>
                        </div>
                        <MudPaper Width="40px" Elevation="0">
                        <MudIconButton Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Info" OnClick="@((e) => AddRow())"></MudIconButton>
                        </MudPaper>
                    </div>
                    <MudDivider />

                    <!--TODO: Add MudTable with new DTO-->

                    <MudTable Class="centered-rows" Items="@InvoiceModel.Products" Hover="true" Breakpoint="Breakpoint.Sm" Bordered="true" Dense="true">
                    <HeaderContent>
                        <MudTh>ردیف</MudTh>
                        <MudTh>نوع کالا</MudTh>
                        <MudTh>نام کالا</MudTh>
                        <MudTh>تعداد</MudTh>
                        <MudTh>وزن</MudTh>
                        <MudTh>اجرت ساخت</MudTh>
                        <MudTh>سود</MudTh>
                        <MudTh>عیار</MudTh>
                        <MudTh>ضریب مالیات</MudTh>
                        <MudTh>عملیات</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="ردیف">@context.Index</MudTd>
                        <MudTd DataLabel="نوع کالا">
                        <InputSelect class="select-text" @bind-Value="context.ProductType"
                        @oninput="@(args => ProductTypeChanged(args, context))">
                            @foreach (ProductType productType in Enum.GetValues(typeof(ProductType)))
                            {
                                <option class="p-4" value="@productType">@productType.ToDisplay()</option>
                            }
                        </InputSelect>
                        <span class="select-highlight"></span>
                        <span class="select-bar"></span>
                    </MudTd>
                    <MudTd DataLabel="نام کالا">
                        <MudTextField Style="width: 200px;" Margin="Margin.Dense" @bind-Value="context.Name"></MudTextField>
                    </MudTd>
                    <MudTd DataLabel="تعداد" HideSmall="true">
                        <MudTextField Style="width: 50px;" T="int" Margin="Margin.Dense" @bind-Value="context.Count"></MudTextField>
                    </MudTd>
                    <MudTd DataLabel="وزن">
                        <MudTextField Style="width: 50px;" T="double" Margin="Margin.Dense" @bind-Value="context.Weight"></MudTextField>
                    </MudTd>
                    <MudTd DataLabel="اجرت ساخت">
                        <MudTextField Style="width: 50px;" T="double" Margin="Margin.Dense" @bind-Value="context.Wage"></MudTextField>
                    </MudTd>
                    <MudTd DataLabel="سود">
                        <MudTextField Style="width: 50px;" T="double" Margin="Margin.Dense" @bind-Value="context.Profit"></MudTextField>
                    </MudTd>
                    <MudTd DataLabel="عیار">
                        <InputSelect class="select-text" @bind-Value="context.Caret">
                            @foreach (Caret caret in Enum.GetValues(typeof(Caret)))
                            {
                                <option class="p-4" value="@caret">@caret.ToDisplay()</option>
                            }
                        </InputSelect>
                        <span class="select-highlight"></span>
                        <span class="select-bar"></span>
                    </MudTd>
                    <MudTd DataLabel="ضریب مالیات">
                        <MudTextField Style="width: 50px;" T="double" Margin="Margin.Dense" @bind-Value="context.TaxOffset"></MudTextField>
                    </MudTd>
                    <MudTd DataLabel="عملیات">
                        <MudIconButton Icon="@Icons.Material.Filled.RemoveCircleOutline" Size="Size.Small" Color="Color.Error"
                                       OnClick="@(() => RemoveRow(context))"></MudIconButton>
                    </MudTd>
                </RowTemplate>
                <NoRecordsContent>
                    <MudText>هیچ جنسی اضافه نشده است</MudText>
                </NoRecordsContent>
            </MudTable>
            <br />
            <MudStack Row>
                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Info" OnClick="Submit">ذخیره</MudButton>
                <MudSpacer />
                <MudPaper Width="100px;">
                    <MudTextField Mask="GramPriceMask" T="double" @bind-Value="InvoiceModel.GramPrice" Label="نرخ گرم 18 عیار"></MudTextField>
                </MudPaper>
            </MudStack>
        </MudPaper>
    </MudCardContent>
</MudCard>


